{% extends "base.html" %}

{% block title %}Профайл: {{ prof }}{% endblock %}

{% block content %}
    <h1>{{ prof }}</h1>

    {% if user == prof.user %}
        {% if user.student %}
            {% if not user.student.github.id %}
                <p><a href="/git/data/">Заполните, пожалуйста, данные для доступа к GitHub</a></p>
            {% endif %}
        {% endif %}
        {% if user.teacher %}
            {% if not user.teacher.github.id %}
                <p><a href="/git/data/">Заполните, пожалуйста, данные для доступа к GitHub</a></p>
            {% endif %}
        {% endif %}
    {% endif %}


    {% if prof.theme %}
        {% if prof.theme.teacher == user.teacher or user == prof.user %}
            <p>E-mail: <a href="mailto:{{ prof.user.email }}">{{ prof.user.email }}</a></p>
            {% if prof.phone %}
                <p>Номер телефона: {{ prof.phone }}</p>
            {% endif %}
            <p>Направление: {{ prof.specialization }}</p>
            <p>Защита: {{ prof.month }} {{ prof.year }}</p>
        {% endif %}
    {% endif %}


    {% if prof.theme %}
        {# если студент и есть тема #}
        <p>Тема: <a href="/theme/{{prof.theme.id}}/">{{prof.theme}}</a></p>
        <p>Руководитель: <a href="/accounts/profile/{{prof.theme.teacher.user.id}}/">{{prof.theme.teacher}}</a></p>
        {% if prof.github.reponame %}
            <p>Репозиторий: <a href="https://github.com/{{ prof.github.username }}/{{ prof.github.reponame }}">{{ prof.github.reponame }}</a></p>
        {% endif %}
    {% endif %}

    {% if prof.interest_set.count %}
        {# если есть интересы #}
        <h2>Области интересов</h2>
        <ul>
            {% for int in prof.interest_set.all %}
                <li>{{ int }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user == prof.user and user.teacher %}
        <p align="right"><a href='{{ site }}/interest/add/'>Добавить область интересов</a></p>
    {% endif %}

    {% if prof.theme_set.count %}
        {# если есть темы #}
        {% if user.teacher %}
            <h2>Темы</h2>
            <table>
                <tr>
                    <th width="100%">Название темы</th>
                    <th>Дипломник</th>
                </tr>
                {% for theme in prof.theme_set.all %}
                    <tr>
                        <td><a href="/theme/{{ theme.id }}/">{{ theme.name }}</a></td>
                        <td>
                            {% if theme.student_set.count %}
                                {% with stu=theme.student_set.all|first %}
                                    <nobr><a href="/accounts/profile/{{ stu.user.id }}/">{{ stu }}</a></nobr>
                                {% endwith %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if user.student %}
            <h2>Темы</h2>
            <ul>
                {% for theme in prof.theme_set.all %}
                    {% if not theme.student_set.count %}
                        {# только свободные темы #}
                        <li><a href="/theme/{{ theme.id }}/">{{ theme.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    {% if user == prof.user and user.teacher %}
        <p align="right"><a href='{{ site }}/theme/add/'>Добавить тему</a></p>
    {% endif %}

    {% if stages %}
        <h2>Этапы</h2>

        <table>
            {% for stagepass in stages %}
                <tr>
                {% if stagepass.stage_pass %}
                    <td>{{ stagepass.stage.date|date:"d.m.Y" }}</td>
                    <td>{{ stagepass.stage.name }}</td>
                    <td>Пройден</td>
                {% else %}
                    <td>{{ stagepass.stage.date|date:"d.m.Y" }}</td>
                    <td>{{ stagepass.stage.name }}</td>
                    {% if user.teacher %}
                        {% if prof.theme.teacher == user.teacher  %}
                            <td>
                            <form method="POST" action="{% url stage_pass prof.user_id stagepass.id %}">{% csrf_token %}<input type="submit" value="Прошел"></form>
                            </td>
                        {% else %}
                            <td>---</td>
                        {% endif %}
                    {% else %}
                        <td>---</td>
                    {% endif %}
                {% endif %}
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock %}

{% block sidebar %}
    <p><a href="/accounts/password/change/">Изменить пароль</a></p>
{% endblock %}
