{% extends "base.html" %}

{% block title %}Видеоконференции{% endblock %}

{% block content %}
<h1>Видеоконференции</h1>
{% if meetings %}
    <ul class="large">
    {% for meeting in meetings %}
        <li><strong>{{ meeting.name }}</strong>
            {% if meeting.running == 'true'  %}
                Начата
            {% else %}
                Не начата
            {% endif %}
            <form method="GET" action="{% url join meeting.name %}"><input type="submit" value="Присоединиться"></form>
            {% if user.teacher %}
                <form method="POST" action="{% url delete meeting.name meeting.moderator_pw %}">{% csrf_token %}<input type="submit" value="Завершить"></form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>В данный момент нет ни одной созданной видеоконференции.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
    {% if user.teacher %}
        <p><a href="/chat/create/">Создать видеоконференцию</a></p>
    {% endif %}
{% endblock %}