{% extends "base.html" %}

{% block title %}Meetings{% endblock %}

{% block content %}
<h2>Meetings</h2>
{% if meetings %}
    <ul class="large">
    {% for meeting in meetings %}
        <li><strong>{{ meeting.name }}</strong>
            {% if meeting.running == 'true'  %}
                Running
            {% else %}
                Not running
            {% endif %}
            <form method="GET" action="{% url join meeting.name %}"><input type="submit" value="Join"></form>
            {% if user.teacher %}
                <form method="POST" action="{% url delete meeting.name meeting.moderator_pw %}">{% csrf_token %}<input type="submit" value="End"></form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no meetings at the moment.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
    {% if user.teacher %}
        <p><a href="/chat/create/">Create Meeting</a></p>
    {% endif %}
{% endblock %}
