<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>

<head>
    <title>500 error</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}newstyle.css" media="screen" />
	{% block extra_head %}{% endblock %}
</head>
<body>
    <div id="container">
        <div id="content-container">
            <h2>500 error</h2>
        </div>
    </div>
</body>
</html>