<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}newstyle.css" media="screen" />
	{% block extra_head %}{% endblock %}
</head>

<body>

<div id="container">

<div id="header">
	<p align="right">
	{% if user.is_authenticated %}
		{{ user.username }} |
		<strong>{{ user.get_full_name }}</strong> | 
		<a href="/accounts/profile/">Профиль</a> | 
		<a href="/accounts/logout/">Выход</a>
	{% else %}
		<a href="/accounts/register/">Регистрация</a> | 
		<a href="/accounts/login/">Вход</a>
        <br />Войти через
        {% for backend in social_auth.backends %}
            <a href="{% url socialauth_begin backend %}">{{ backend }}</a>
        {% endfor %}
	{% endif %}</p>

	<h1>Портал Управления Дипломными Проектами</h1>
	
	<div id="menu">
		<ul id="nav">
		<li><a href="/">Главная</a></li>
		{% if user.is_authenticated %}
			{% if user.student %}
				{% if user.student.diplomnik %}
                    <li><a href="/docs/">Документация</a></li>
				{% else %}
					<li><a href="/teachers/">Выбор темы</a></li>
				{% endif %}
			{% endif %}
            {% if user.teacher %}
                <li><a href="/diplomniks/">Дипломники</a></li>
            {% endif %}
			<li><a href="/schedule/">Расписание</a></li>
            <li><a href="/chat/">Чат</a></li>
			<li><a href="/messages/">Сообщения</a></li>
		{% endif %}
		</ul>
	</div>
</div>

<div id="content-container">

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

	<div id="aside">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
            <hr />
        {% endif %}

        {% if user.student %}
            {% if not user.student.github.id %}
                <p><a href="/git/data/">Нет доступа к GitHub</a></p>
            {% endif %}
        {% endif %}

        {% if user.teacher %}
            {% if not user.teacher.github.id %}
                <p><a href="/git/data/">Нет доступа к GitHub</a></p>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated and social_auth.not_associated %}
            <p>Нет ассоциации с:</p>
            <ul>
            {% for backend in social_auth.not_associated %}
                <li><a href="{% url socialauth_begin backend %}">{{ backend }}</a></li>
            {% endfor %}
            </ul>
            <hr />
        {% endif %}

		{% block sidebar %}
		{% endblock %}
	</div>

</div>
</div>

</body>
</html>
