{% extends "base.html" %}

{% block title %}{{ tit }}{% endblock %}

{% block content %}
<h1>{{ tit }}</h1>

{% if help_text %}
    {% for t in help_text %}
        <p>{{ t|urlize }}</p>
    {% endfor %}
{% endif %}
    
<form method="post">
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}{% csrf_token %}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="error">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Сохранить" / class="clearfix">
</form>
{% endblock %}