{% extends "messages/base.html" %}

{% block title %}{{ tit }}{% endblock %}

{% block content %}
<h1>{{ tit }}</h1>

{% if user.teacher %}
    <p><a href="/messages/compose/choose/allstudents/">Все дипломники</a></p>
    <p><a href="/messages/compose/choose/mystudents/">Мои дипломники</a></p>
    <p><a href="/messages/compose/choose/allteachers/">Все руководители</a></p>
    <p><a href="/messages/compose/choose/all/">Все</a></p>
{% endif %}
{% if user.student %}
    <p><a href="/messages/compose/choose/teacher/">Руководитель</a></p>
{% endif %}
    
<form method="post">
<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}{% csrf_token %}</dt>
    <dd>{{ field }}
    {% if field.help_text %}<div class="helptext">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="error">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="{% if value %}{{ value }}{% else %}Сохранить{% endif %}">
</form>
{% endblock %}