{% extends "base.html" %}

{% block title %}Тема{% endblock %}

{% block content %}
    <h1>{{ theme.name }}</h1>
    <p><strong>Руководитель:</strong> <a href="/accounts/profile/{{theme.teacher.user.id}}/">{{ theme.teacher }}</a></p>
    {% if student %}
        <p><strong>Дипломник:</strong> <a href="/accounts/profile/{{ student.user.id }}/">{{ student }}</a></p>
    {% endif %}    
    {% if theme.comments %}
        <dt><strong>Комментарии:</strong></dt>
        <dd>{{ theme.comments|linebreaks }}</dd>
    {% endif %}
    
    {% ifequal user.pk theme.teacher.user.pk %}
        <p><a href="/theme/{{theme.id}}/edit/">Редактировать</a></p>
    {% endifequal %}
    
    {% if theme.teacher == user.teacher %}
        <dt>Исходные данные (для документации):</dt>
        <dd>{{ theme.initial_data }}</dd>
        <dt>Содержание работы (для документации):</dt>
        <dd>{{ theme.contents|linebreaks }}</dd>
        <dt>Консультанты (для документации):</dt>
        <dd>{{ theme.consultants }}</dd>

        {% ifequal user.pk theme.teacher.user.pk %}
            <p><a href="/theme/{{theme.id}}/edit/">Редактировать</a></p>
        {% endifequal %}
    {% endif %}
    
{% endblock %}