{% extends "base.html" %}

{% block title %}{{ tit }}{% endblock %}

{% block content %}
<h1>{{ tit }}</h1>

<form method="post">
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}{% csrf_token %}</dt>
    <dd>{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Отправить">
</form>
{% endblock %}